<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>b31eda347a531a986cd80f22009175eb</string>
	<key>images</key>
	<dict>
		<key>20Ht2EykQpSrv1wlvaNYYQ</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:35Z</date>
		</dict>
		<key>71/IK0dNS4e/gAuePp9iDg</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:35Z</date>
		</dict>
		<key>94NruWHPSOSm9g6pNHmnbA</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:35Z</date>
		</dict>
		<key>Ad2LQ8SqRK6+AB/7nTFEUw</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:27Z</date>
		</dict>
		<key>GnEAqIORRaKtnEEKwVIy5w</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:35Z</date>
		</dict>
		<key>I10rB1p4Q9GB4eEcXwCiLw</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2006-08-27T16:52:53Z</date>
		</dict>
		<key>KCLr5lnNTK+kJcSquTwjzQ</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:37Z</date>
		</dict>
		<key>OLSp3TdQTLWxDvg+fdYPqA</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:33Z</date>
		</dict>
		<key>ORxmHHogR8mRK/jM0DhSLw</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:34Z</date>
		</dict>
		<key>QsSLhPCeTnySILRNeLZUiQ</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:29Z</date>
		</dict>
		<key>bcR/C153TVuowGdC6XNRlQ</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:46Z</date>
		</dict>
		<key>dSERo9cyQv28Wifz/0lKNA</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:35Z</date>
		</dict>
		<key>eLImCP3pRiy8s0XGsSTOcA</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:35Z</date>
		</dict>
		<key>fUVspDxrSXmpCsKA+BbiWQ</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:30Z</date>
		</dict>
		<key>fnbnieUQQ5Gjr2uyHSrBgA</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:27Z</date>
		</dict>
		<key>gF8HGj1CS/mLT3m/mMqDBA</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:36Z</date>
		</dict>
		<key>hjB3bOGCS+i8NhD6jRml/g</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:35Z</date>
		</dict>
		<key>huHkdzYVSIyZRq2rqIPbHQ</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:28Z</date>
		</dict>
		<key>iIZKMPFkSDyi7H4V5Jf0Pw</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:34Z</date>
		</dict>
		<key>o4si/vi0T46VJZvqlEDjoQ</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2006-10-07T19:21:37Z</date>
		</dict>
		<key>yRRgXOjlQ7KMCOKxxuUBsw</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2006-08-27T16:59:51Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>a94f07a085df39cb0b349aa4341d82da</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
