<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>b31eda347a531a986cd80f22009175eb</string>
	<key>images</key>
	<dict>
		<key>5f8bbQRMRIChN8fe9Q6hog</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2006-08-06T17:53:48Z</date>
		</dict>
		<key>DKKDe1t8RCCA02LhEh9YSA</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2006-08-06T17:51:41Z</date>
		</dict>
		<key>JeT/3MLASMehwAN7zdWg4A</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2006-08-06T17:56:30Z</date>
		</dict>
		<key>KyQINWFMSEe80oFIdorM7Q</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2006-08-06T17:54:03Z</date>
		</dict>
		<key>U52g0ERnRRmBKlc55oq8rw</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2006-10-07T19:24:35Z</date>
		</dict>
		<key>VZssh8MlRryN5Hzimlkxdw</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2006-10-07T19:24:35Z</date>
		</dict>
		<key>ViYF5W/bQ4aiiS4pAQQG9g</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2006-08-06T17:55:29Z</date>
		</dict>
		<key>Yr9Ujj4WT6aumE0MtlTjdg</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2006-10-07T19:24:35Z</date>
		</dict>
		<key>clmwiYF4R6yshiTFRX//2g</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2006-10-07T19:24:35Z</date>
		</dict>
		<key>mnUjP8dJT+mKYFJ7jjlU+Q</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2006-08-06T17:55:50Z</date>
		</dict>
		<key>naGmVFmtQgW8jwFlvvvrLA</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2006-08-06T17:56:16Z</date>
		</dict>
		<key>rsA/h10mTGW5gauu0d6RPg</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2006-10-07T19:24:35Z</date>
		</dict>
		<key>v+V97croR+Sn60rdeKCBlQ</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2006-08-06T17:56:05Z</date>
		</dict>
		<key>wwXE1t1MSD27iQGlI3R68w</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2006-10-07T19:24:35Z</date>
		</dict>
		<key>z1NBfZ95TKGG0r03LihuTg</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2006-10-07T19:24:35Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>a94f07a085df39cb0b349aa4341d82da</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
