<li><a href="{{ "/archive" | prepend:site.baseurl }}">Archive</a></li>
<li class="dropdown">
  <a href="{{ "/foaf" | prepend:site.baseurl }}" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{{ "/cv" | prepend:site.baseurl }}">Gregg's CV</a></li>
    <li><a href="{{ "/contact-information" | prepend:site.baseurl }}">Contact Information</a></li>
  </ul>
 </li>
<li><a href="{{ "/services" | prepend:site.baseurl }}">Services</a></li>
<li><a href="{{ "/photography" | prepend:site.baseurl }}">Gregg's Photography</a></li>
<li><a href="http://rdf.greggkellogg.net">RDF Distiller</a></li>
