<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>1632e722bf40b3149af8bba4df8d499c</string>
	<key>images</key>
	<dict>
		<key>+teYJzaETY+rxgGAjdPaKw</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2007-05-30T00:00:08Z</date>
		</dict>
		<key>2dkcDRbpS0WwBiWQqdZLng</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2007-05-30T00:09:39Z</date>
		</dict>
		<key>4jh5YIthRNqRtm3dhtwk9Q</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2007-05-30T00:21:33Z</date>
		</dict>
		<key>63GIRmkdTwCagZ0uadvEGg</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2007-05-30T00:08:05Z</date>
		</dict>
		<key>9ln4scT7RCq+dX/OkwkAWg</key>
		<dict>
			<key>index</key>
			<integer>24</integer>
			<key>modDate</key>
			<date>2007-05-29T23:48:21Z</date>
		</dict>
		<key>BV0ofWpTQpeMKM4QORqclA</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2007-05-28T17:24:17Z</date>
		</dict>
		<key>C7/jgu5aRL+Xa1QxCkbL7Q</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2007-05-30T00:03:32Z</date>
		</dict>
		<key>G05WN9wnR8+X5nmkTaRHdw</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2007-05-30T00:01:10Z</date>
		</dict>
		<key>LLZRTaPaRm2mklyPjUrucg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2007-05-30T00:21:46Z</date>
		</dict>
		<key>MLjVDMQEQhWRl1j67C2Www</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2007-05-30T00:13:34Z</date>
		</dict>
		<key>P4VkBJ+pSmG23+IF45vamQ</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2007-05-28T17:19:53Z</date>
		</dict>
		<key>QBgvC0WUR+S7kLVgVGWpCg</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2007-05-29T23:48:18Z</date>
		</dict>
		<key>QxAKqHiSSSmT7Z8XEcb+NA</key>
		<dict>
			<key>index</key>
			<integer>26</integer>
			<key>modDate</key>
			<date>2007-05-29T23:48:26Z</date>
		</dict>
		<key>Rm6jeJfXSeaCUuMZqxLX0Q</key>
		<dict>
			<key>index</key>
			<integer>27</integer>
			<key>modDate</key>
			<date>2007-05-29T23:48:27Z</date>
		</dict>
		<key>WfvO9AJfQf20jieh+S1dvA</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2007-05-28T17:13:36Z</date>
		</dict>
		<key>WmPSTlSISYyLqIA1TVc3Yg</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2007-05-30T00:23:27Z</date>
		</dict>
		<key>XFUqww8NTX+o4cF12Jfyzg</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2007-05-30T00:05:01Z</date>
		</dict>
		<key>ZnuG6pFOSpye3FrOEJ1jnQ</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2007-05-30T00:28:09Z</date>
		</dict>
		<key>cyN0JSNKRruUekcJQosEAA</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2007-05-29T23:59:18Z</date>
		</dict>
		<key>m+KiKwmyQmGuvGZfOwfN2Q</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2007-05-28T17:25:59Z</date>
		</dict>
		<key>mcr99ycDRxKIcVPjtIIG6g</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2007-06-01T03:51:41Z</date>
		</dict>
		<key>nhmiIHQXSUWOnvhQepOcJQ</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2007-05-30T00:05:15Z</date>
		</dict>
		<key>oI7xVtJjSh+9JWlaWAkJdg</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2007-05-30T00:10:56Z</date>
		</dict>
		<key>p94MJDWASMyi5ex6AqobJQ</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2007-05-29T23:48:19Z</date>
		</dict>
		<key>s8nuir6VRdOozZVXc/R6Tg</key>
		<dict>
			<key>index</key>
			<integer>25</integer>
			<key>modDate</key>
			<date>2007-05-29T23:48:24Z</date>
		</dict>
		<key>tS4EY0W3SHWJCodXs7Jgbw</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2007-05-30T00:12:51Z</date>
		</dict>
		<key>yR0ZFq9dQtOg9uj1uqToFA</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2007-05-28T17:18:18Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>7018cf6da14d9a4d995ec3d5f74633e7</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
