<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>ca2603f548a06226fa24a31858979e97</string>
	<key>detailSize</key>
	<string>{1024, -1}</string>
	<key>images</key>
	<dict>
		<key>00dezLbuSR6tW9+nRKsSHg</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2010-04-26T06:07:27Z</date>
		</dict>
		<key>0UB7po3oQA6bAdW8XYS0GQ</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2010-04-21T00:49:02Z</date>
		</dict>
		<key>38TWBeRjSpmGFg2TA2oUeA</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2010-04-23T23:14:18Z</date>
		</dict>
		<key>4Z3EW3NsQPqqFlrCdbGRug</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2010-04-21T21:08:26Z</date>
		</dict>
		<key>5QCAlT2mR9WZy5QZhwIIkw</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2010-04-21T00:50:21Z</date>
		</dict>
		<key>6iIg+S0gRRCCMCA9cEy%jw</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2010-04-26T22:52:01Z</date>
		</dict>
		<key>8gkjI9aZSuiOmAw%tIgnCA</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2010-04-21T00:58:33Z</date>
		</dict>
		<key>9lyRaGVXTyO61n%yZhA%8A</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2010-04-21T01:01:22Z</date>
		</dict>
		<key>Cu9mdvY4TdmvM6zhqIRugQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2010-04-23T22:39:23Z</date>
		</dict>
		<key>JAFsVYXXSfyKSyz6g98mJA</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2010-04-26T06:07:24Z</date>
		</dict>
		<key>OpDQ6GPPRPuDJU6mupRg9g</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2010-04-23T23:16:49Z</date>
		</dict>
		<key>U6Dqkee4Q3KILrUFRcr0+w</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2010-04-21T00:33:51Z</date>
		</dict>
		<key>ZycBZEUORZaSio4GVlarFg</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2010-04-26T22:22:55Z</date>
		</dict>
		<key>aESeIhkjQHazT6uOFY90vw</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2010-04-21T00:47:47Z</date>
		</dict>
		<key>aMn%GJPdRNCXJLWKVFTEgA</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2010-04-22T03:11:33Z</date>
		</dict>
		<key>fGIA9xDfRm6zoCzF4AEyrA</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2010-04-26T14:25:29Z</date>
		</dict>
		<key>h1o3NDT9TseLVUUw+in3zg</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2010-04-23T23:17:19Z</date>
		</dict>
		<key>qMSfAIYPQrmP6gAuTAPJfQ</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2010-04-23T22:43:57Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>d5d02029b237935517b895ed2af3ecdd</string>
	<key>thumbSize</key>
	<string>{250, -1}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
